{% extends "blog/base.html" %}
{% block content %}
  {% for post in posts %}
    <article class="media content-section d-flex align-items-stretch">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
          </div>
          <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
          <p class="article-content">{{ post.content|safe|slice:"200" }}...</p>
          <div>
            <a href="{% url 'post-detail' post.id %}" class="btn btn-primary bg-blue">Читать далее &rarr;</a>
          </div>
        </div>
    </article>
  {% endfor %}
{% endblock content %}